<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TempMotoWeb</title>
    <script>
        const baseUrl = "@Environment.GetEnvironmentVariable("baseUrl")";
        const mapsKey = "@Environment.GetEnvironmentVariable("mapsKey")";
    </script>
    @RenderSection("Header", required:false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TempMotoWeb.styles.css" asp-append-version="true" />

    <style>
        nav.navbar {
            position: relative;
        }

            nav.navbar::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #2f18bb; /* Cor da linha */
            }

        a.navbar-brand,
        a.nav-link {
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color:#00005c">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Medicao" asp-action="Index" style="color: white;">&nbsp;&nbsp;&nbsp; Aqua 2.0 💧 &nbsp;&nbsp;&nbsp;</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Medicao" asp-action="Index">&nbsp;&nbsp;&nbsp;Tela inicial &nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light"> | </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Medicao" asp-action="Mapa"> &nbsp;&nbsp;&nbsp; Mapa &nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light"> | </a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Medicao" asp-action="Historico"> &nbsp;&nbsp;&nbsp;Histórico &nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light"> | </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Medicao" asp-action="Docs"> &nbsp;&nbsp;&nbsp;Documentação &nbsp;&nbsp;&nbsp;</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Aqua 2.0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
